{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
    {% include "blog/includes/header.html" %}

    <h1>My collected posts</h1>

    <div>
        <div class="card">
          <img src="img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>

        <div class="card">
          <img src="img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John D22oe</b></h4>
            <p>Architect & Enasdasgineer</p>
          </div>
        </div>
    </div>
{% endblock %}